<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkseedsystems.intenttoapp">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentToApp">
        <receiver android:name="com.thinkseedsystems.intenttoapp.IntentListeners"
            android:exported="true">
            <intent-filter>
                <action android:name="com.thinkseedsystems.intent.BTTest1" />
                <action android:name="com.thinkseedsystems.intent.BTTest2" />
                <action android:name="com.thinkseedsystems.intent.BTTest3" />
                <action android:name="com.thinkseedsystems.intent.BTTest4" />
                <action android:name="com.thinkseedsystems.intent.BTTest5" />
            </intent-filter>
        </receiver>
    </application>

</manifest>